.navbar{
  
  height: 75px;
  display: flex;
  align-items: center;
  box-shadow:  0px 0px 10px grey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.navbar-item{
  
  margin-right: 10%;
}
.navbar-item>ul>li{
  float: left;
  margin-left: 40px;
  font-size: 20px;

  
}
.navbar-item>ul>li:hover{
  cursor: pointer;
  color: orange;
  border-bottom: solid 2px blue;
  transition: 0.2s ;


}
.form-check{
  margin-right: 20%;
}
.btn{
  margin-right: 10%;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  padding:  10px 20px 10px 20px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  color: white;

}
.btn:hover{
background: white;
color: orange;
}
.main-container{
  margin-top: 150px;
}
.details{
  margin-left: 10%;
}
.details>h1{
  font-size: 50px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  animation: slide-down 1s  ease-in-out;
  
}
@keyframes slide-down{
  0%{
    transform: translateY(-50px);
  }
  100%{
    transform: translateY(0px);
  }
}
.details>p{
  font-size: 30px;
  font-weight: bold;
  color: #fb982f;
  animation: slide-right 1s  ease-in-out;

}
@keyframes slide-right{
  0%{
    transform: translateX(-50px);
  }
  100%{
    transform: translateX(0px);
  }
}
.details>div>button{
  border-radius: 20px 20px;
  font-size: 16px;
  padding:  10px 20px 10px 20px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  color: white;
  margin-top: 20px;

}
.details>div>button:hover{
  background: white;
color: orange;

}
.details>div{
  animation: right 1s  ease-in-out;

}
@keyframes right{
  0%{
    transform: translateY(50px);
  }
  100%{
    transform: translateY(0px);
  }
}
.image{
  margin-left: 30%;
  height:  200px;
  width:  200px;
  box-shadow: 0px 0px 10px orange;
 
  backdrop-filter: blur(100px);
 
}
.image>img{
  width: 200px;
  height: 200px;
}
.image>img:hover{
  animation: rounded 2s forwards;
}
@keyframes rounded{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}
.icon{
  margin-left: 10%;
  margin-top: 100px;
}
.icon>div{
  margin-left: 30px;
}
.icon>div>:hover{
  box-shadow: 0px 0px 10px orange;

}
@media(max-width: 768px){
  .navbar-item{
   margin-right: 5%;

  }
  .form-check{
    display: none;
  }
  .navbar-item>ul>li{
    margin-left: 20px;
    font-size: 16px;
  }
  .btn{
    font-size: 14px;
    margin-left: 70%;
    padding:  5px 10px 5px 10px;

  }
  
  .details>h1{
    font-size: 30px;
  }
  .details{
    margin-left: 5%;
  }
  .details>p{
    font-size: 20px;

  }
  .detail>div{
    width: 250px;
  }
  .image{
    margin-left: 70%;
    margin-bottom: 100px;
    height:  100px;
    width:  100px;
    box-shadow: 0px 0px 10px orange;
   
   
 
  }
  .image>img{
    height:  100px;
    width:  100px;

  }
  .form-check{
    
    margin-left: 30px;
    margin-top: 30px;
  }
 

}
@media(max-width: 468px){
  .navbar-item{
    margin-right: 0%;
 
   }
   .form-check{
     display: none;
   }
   .navbar-item>ul>li{
     margin-left: 15px;
     font-size: 16px;
   }
   .btn{
     font-size: 12px;
     margin-left: 60%;
     
     padding:  5px 6px 5px 6px;
 
   }
   .icon{
    margin-left: 5%;
   }
   

}
.maincontainer{
  height: 100vw;
  
}
.skills{
  max-width: 1000px;
 
  margin-left: 10%;
  margin-top: 100px;
}
.skill>h1{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: #fb982f;
  font-weight: bold;

}
.skill>p{
  margin-top: 30px;
  width: 200px;
  color: grey;
}
.skill-role{
  
  margin-left: 60%;
}
.skill-role>.bg1{
  
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: blue;
 
}
.skill-role>.bg2{
 
  position: absolute;
  height: 200px;
  width: 200px;
  margin-top: 100px;
  background-color: #fdc50f;
  


}
.bg3{
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 999;
  margin-left: 150px;
  background-color: white;
  box-shadow: 0px 0px 20px grey;
  animation: rotate 5s infinite;
  
  
  
  
}
.bg3>div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  box-shadow: 0px 0px 10px grey;

  position: absolute;
}
.bg3>.skill1{
  margin-left: 100px;
  color: #fb982f;
  font-size: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
  
 

}
.bg3>.skill2{
  margin-top: 100px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: purple;
  font-size: 50px;
}
.bg3>.skill3{
  margin-top: 200px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: green;
}
.bg3>.skill4{
  margin-left: 200px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgb(52, 235, 52);
}
.bg3>.skill5{
  margin-left: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  blue;
  font-size: 50px;
}
.services{
  max-width: 1000px;
  margin-left: 10%;
  margin-top: 200px;
}
.services>.col-md>h1{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
  font-weight: bold

}
.services>.col-md>p{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: #fb982f;
  margin-top: 10px;
  font-weight: bold;

}
.services>.col-md>div>button{
  padding:  5px 10px 5px 10px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 10px 20px 3px rgba(251, 161, 40, 0.42);
  margin-top: 20px;
  border-radius: 20px 20px;
}
.card{
  display: grid;
  justify-content: end;
  border: none;
}
.card1{
  height: 200px;
  width: 200px;
  border: solid 3px orange;
  border-radius: 20px 20px;
  margin-left: 50px;
  padding: 10px;
  animation: slideright 2s  ease forwards;
  
}
@keyframes slideright{
  0%{
    transform: translateX(-100px);
  }
  100%{
    transform: translateX(0px);
  }
}
.card2{
  height: 200px;
  width: 200px;
  border: solid 3px orange;
  margin-top: 40px;
  border-radius: 20px 20px;
  padding: 10px;
  animation: slideleft 2s  ease forwards;
  
 
}
@keyframes slideleft{
  0%{
    transform: translateX(100px);
  }
  100%{
    transform: translateX(0px);
  }
}
.card1>div>i{
  font-size: 50px;
}
.card2>div>i{
  font-size: 50px;
}
.card3{
  height: 200px;
  width: 200px;
  border: solid 3px orange;
  margin-top: 150px;
  border-radius: 20px 20px;
  padding: 10px;
  animation: slidedown 2s  ease forwards;
  
  
  
 
}
@keyframes slidedown{
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0px);
  }
}
.card3>div>i{
  font-size: 50px;
}
.card3>div>i{
  font-size: 50px;
}
.projects{
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}
.projects>h1{
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #fdc50f;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.swiper{
  max-width: 800px;
  margin-top: 30px;
 
}
.swiper-slide{
  width: 400px;
  height: 200px;
}
.swiper-slide>img{
  width: 400px;
  object-fit: cover;
  height: 200px;
  border-radius: 20px 20px;
}
.projects>div{
  display: flex;
  justify-content: center;
}
.projects>div>button{
  border-radius: 20px 20px;
  font-size: 16px;
  padding:  10px 20px 10px 20px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  color: white;
  margin-top: 20px;

}
.swiper1{
  display: none;
  max-width: 800px;
  margin-top: 30px;
  
 
}
.swiper2{
  max-width: 800px;
  margin-top: 30px;
  display: none;

}

@media(max-width: 768px){
  .skills{
    margin-left: 0%;
   
  }
  .bg3{
    margin-left: 50px;
    height: 200px;
    width: 200px;
    margin-top: 30px;
    
  }
  .skill-role>.bg1{
    height: 100px;
    width: 100px;
    margin-left: 170px;
    margin-top: 30px;
  }
  .skill-role>.bg2{
    height: 100px;
    width: 100px;
    margin-left: 170px;
    margin-top: 120px;

  }
  .bg3>div{
    height: 65px;
    width: 65px;
  }
  .bg3>.skill1{
    margin-left: 70px;
    font-size: 30px;
  }
  .bg3>.skill2{
    margin-top: 70px;
    font-size: 30px;
  }
  .bg3>.skill3{
    margin-top: 136px;
    margin-left: 70px;
    font-size: 30px;
  }
  .bg3>.skill4{
    margin-left:136px;
    margin-top: 70px;
    font-size: 30px;
  }
  .bg3>.skill5{
    margin-top: 70px;
    margin-left: 70px;
    font-size: 30px;
  }
  .skill1{
   
    width: fit-content;
    height: fit-content;
   
  }
  .services{
    margin-left: 0%;
    width: 100%;
    margin-top: 250px;
  
  }
  .card1{
    height: 200px;
    width: 150px;
    border: solid 3px orange;
    border-radius: 20px 20px;
    margin-left: 50px;
    padding: 10px;
    animation: slideright 2s  ease forwards;
    font-size: 14px;
    
    
  }
  .card1>div>i{
    font-size: 30px;
  }
  .card2>div>i{
    font-size: 30px;
  }
  .card3>div>i{
    font-size: 30px;
  }
  .card2{
    height: 200px;
    width: 150px;
    border: solid 3px orange;
    border-radius: 20px 20px;
    margin-left: 50px;
    padding: 10px;
    animation: slideright 2s  ease forwards;
    font-size: 14px;

    
  }
  .card3{
    height: 200px;
    width: 150px;
    border: solid 3px orange;
    border-radius: 20px 20px;
    margin-left: 30px;
    padding: 10px;
    animation: slideright 2s  ease forwards;
    font-size: 14px;
    
    
  }
  .swiper1{
    display: block;
    max-width: 400px;
    margin: auto;
    padding: 10px;
  }
  .slide1{
    display: none;
  }

  
  
  
  
}
.bg3{
  animation: rotate 4s  infinite;
}

@keyframes rotate{
  
  100%{
    transform: rotate(360deg);
  }
  
}


